@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body{
  font-family: 'Share Tech Mono', monospace;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  padding: 5px;
  background-color: #000;
  border: 2px solid #47476b;
  width: 320px;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button {
  border: none;
  font-size: 18px;
  min-height: 65px;
  min-width: 80px;
  outline: 1px solid #000;
  color: #fff;
}

.keys button:hover{
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.keys button[class="number"] {
  background-color: #4d4d4d;;
} 

.keys button[class="operator"] {
  background-color: rgb(102, 102, 102);;
} 

.keys button[id="clear"] {
  background-color: rgb(172, 57, 57);;
}

.keys button[id="equals"] {
  color: #ffffff;
  grid-row: 4 / 6;
  grid-column: 4 / 4;
  background-color:rgb(0, 68, 102);
}

.keys button[id="zero"] {
  grid-column-start: 1;
  grid-column-end: 3;
} 

.input,
.result {
  color: #fff;
  text-align: right;
  font-size: 27px;
  word-wrap: break-word;
}

.input{
  min-height: 31px;
}

.result {
  color: orange;
  font-size: 18px;
  min-height: 22px;
}